
body{
  background-color: black;
}

#top{
  flex:auto
  flex-direction: column;
}

h1 {
  font-family: monospace;
  color: red;
  text-align: center;
}

h2 {
  font-family: monospace;
  color: red;
  text-align: center;
}
p {
  color: red;
  font-family: monospace;
  font-size:  20px;
}

.secondary {
  font-size: 12px;
  text-alighn: center;
}
