@media only screen and (max-width: 600px) {
  .header a {
    display: none;
    color: black;
  }
  .header {
    background-color: white;
    overflow: hidden;
    display: flex;
    padding: 10;
    margin: 0;
  }
  #logo{
    display: flex;
    margin: 0px ;
    padding: 10px;
    width: 550%;

  }
}
/* Add a black background color to the top navigation */
.header {
  background-color: black;
  overflow: hidden;
  display: flex;
  padding: 10;
  margin: 0;
}

/* Style the links inside the navigation bar */
.header a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10;
  margin: 10;
  text-decoration: none;
  font-size: 18px;
}

/* Change the color of links on hover */
.header a:hover {
  background-color: #38E838;
  color: black;

}

/* Add a color to the current link */
.header a.active {
  background-color: #4CAF50;
  color: white;
}
.col{
  margin-top: 50px;
  width: 50%;
  display: flex-end;
}
.row{
  text-indent: inherit;
}

img {
    max-width: 100%;
    max-height: 100%;
}

h5{

  font-family: "Helvetica Neue";
  font-weight: 500;
  font-size: 15px;
  color: #474747;
  padding-top: 60px;
  padding-bottom: 0px;
  margin-bottom: 10px;

}
h5:hover {
  text-decoration: underline;
  text-align: right;
}
.container {
  display: flex;
  width: 100%
}
#fulls{
  width: 65%;
  justify-content: center;
}
/* Mini article ID */
#halves{
padding: 50px;
text-align: right;

}

#logo{
  display: flex;
  margin: 0px ;
  padding: 10px;
  width: 20%;

}

#title{
  font-family: Helvetica Neue;
  margin: 0px;
  padding-top: 50px;
  font-size: 30;
}
#subtitle{
  font-family: "Helvetica Neue";
  color: #474747;
  font-style: italic;
  margin: 0px;
  padding-top: : 0px;
  font-weight: 300;
}
#sections{
  padding: 30px;
  font-family: hermit;
  font-weight: bold;
  font-size: 22;
  margin: 0;

}
#text{
  font-family: "Helvetica Neue";
  padding-top: 20px;
  color: #474747;
}
#creds{
  font-family: "Helvetica Neue";
  display:inline-block;
  color: #474747;
  font-weight: 320;
}
#auth{
  font-family: "Helvetica Neue";
  display:inline-block;
  padding: 0;
  color: #00CC27;
  font-size: 19;
  font-weight: 320;
}
#auth:hover {
  text-decoration: underline;
}
#pic{
  width: 650;
}
#sidepic{
  width: 60%;
  height: auto;
  float: right;

}

#halftitle{

}


.flexCol {
  box-sizing: border-box;
  padding: 10px;
  justify-content: flex-start;
}

html {
  font-family: "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
}


p {
  /* color: white; */
  font-family: Helvetica ;
  font-size: 20px;
  margin: 0;
  padding: 5px;

}
h2{
  /* color: white; */
  font-family: Helvetica;

}
.footer {
  background-color: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  margin-top: 100px;
}
#footnotes{
  color: white;
  font-weight: 12;
  font-size: 15px;
  margin-left: 120px;
  margin-right: 120px;
}
#rfootnotes{
  color: white;
  font-weight: 12;
  font-size: 15px;
  margin-right: 120px;
}
#lfootnotes{
  color: white;
  font-weight: 12;
  font-size: 15px;
  margin-left: 120px;

}
#rfootnotes:hover, #lfootnotes:hover, #footnotes:hover{
  text-decoration: underline;
}
#biglogo{
  width: auto;

}
